body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  /* height: 450px; */
  background-image: url(./images/banner_picture.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.banner-msg {
  text-align: center;
}
.banner-title {
  color: white;
  font-size: 40px;
}
.banner-text {
  color: white;
}

.donate-btn {
  margin-top: 20px;
  padding: 10px 40px;
  /* background-image: linear-gradient(45deg, rgb(241, 186, 82), rgb(230, 72, 44)); */
  background-color: #4caf50;
  color: white;
  font-size: 20px;
  border-radius: 20px;
  border: none;
}
.donate-btn:hover {
  cursor: pointer;
  background-color: white;
  border: 1px solid #4caf50;
  color: black;
  font-weight: 600;
}
.donate {
  margin-top: 100px;
}
.donate-today {
  text-align: center;
}
.donate-today h1 {
  font-size: 40px;
  color: gray;
}
.donate-today p {
  font-size: 20px;
  color: gray;
}

.amount {
  display: flex;
  justify-content: space-evenly;
  margin-top: 100px;
}
.amount-item {
  display: flex;
  width: 200px;
  height: 150px;
  margin: 10px;
  background-color: #4caf50;
  justify-content: space-evenly;
  /* flex-grow: 1; */
  /* flex-basis: 1; */
  align-items: center;
  border-radius: 5px;
  font-weight: 700;
}
.amount-item:hover {
  background-color: white;
  /* height: top 180px; */
  border: 1px solid #4caf50;
  box-shadow: 8px 10px 16px gray;
}
.donate-form {
  text-align: center;
}
.donate-amt {
  margin-top: 70px;
  width: 500px;
  border: none;
  border-bottom: 1px dotted gray;
  text-align: center;
  padding: 20px;
}

.donate-plan {
  margin-top: 100px;
}
.plan-title {
  text-align: center;
  background-color: #4caf50;
  padding: 30px;
  color: white;
}
.plan-title h1 {
  font-size: 40px;
  font-weight: bold;
}

.donate-sector {
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
}

.donate-sector-item {
  /* display: flex; */
  width: 300px;
  /* height: 150px; */
  margin: 10px;
  /* background-color: #4caf50; */
  /* justify-content: space-evenly; */
  flex-grow: 1;
  /* flex-basis: 400; */
  align-items: center;
  border-radius: 5px;
  font-weight: 700;
}
.donate-sector-item img {
  width: 50%;
}
.donate-sector-item h4 {
  font-size: 20px;
}
.donate-sector-item p {
  text-align: justify;
  font-size: 15px;
  font-weight: normal;
}

.donate-sector-item:hover {
  width: 310px;
  /* margin: 10px; */
  padding: 10px;
  /* justify-content: space-evenly; */
  flex-grow: 1;
  align-items: center;
  border-radius: 5px;
  font-weight: 700;
  box-shadow: 8px 16px 20px gray;
  background-color: #fff4d6;
}

.religious-sec {
  margin-top: 100px;
}
.religious-item {
  /* display: flex; */
  width: 300px;
  /* height: 150px; */
  margin: 10px;
  padding: 20px;
  /* background-color: #4caf50; */
  /* justify-content: space-evenly; */
  flex-grow: 1;
  /* flex-basis: 400; */
  align-items: center;
  border-radius: 5px;
  font-weight: 700;
  box-shadow: 8px 16px 20px gray;
  background-image: url(./images/rel-bg.png);
  background-repeat: no-repeat;
}
.religious-item h4 {
  font-size: 20px;
}
.religious-item p {
  text-align: justify;
  font-size: 15px;
  font-weight: 500;
}

.contribute {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 130px;
}
.half-width {
  width: 50%;
  /* flex-grow: 1; */
  /* flex-basis: 50%; */
  padding: 40px;
  margin-left: 200px;
  margin-right: 200px;
}

.section-up {
  margin-top: 30px;
}
.half-width h1 {
  font-size: 45px;
  font-weight: 500;
}
.half-width p {
  font-size: 15px;
  font-weight: 500;
}
.subscribe {
  margin-top: 100px;
}
.update-title {
  width: 400px;
  margin: 0 auto;
  text-align: center;
  /* background-color: #4caf50; */
}
.update-title h1 {
  font-size: 45px;
  font-weight: 600;
}
.update-title p {
  margin-top: -30px;
  font-size: 15px;
  font-weight: 500;
}

.email-form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 800px;
  height: 200px;
  margin: 0 auto;
  text-align: center;
  /* border: 1px solid black; */
  background-color: #fff4d6;
  border-radius: 5px;
}
.email-sub {
  width: 300px;
  height: 35px;
  border-radius: 5px;
  border: none;
  background-color: rgb(236, 226, 226);
}
.subscribe-btn {
  height: 36px;
  width: 150px;
  font-size: 15px;
  font-weight: bold;
  border-radius: 5px;
  background-color: #ff5858;
  border: 1px solid #ff5858;
  /* border: none; */
}
footer {
  margin-top: 50px;
  text-align: center;
  background-color: black;
  height: 120px;
}
footer h1 {
  color: #ff5858;
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;
}
footer p {
  color: white;
  margin-top: -40px;
}
